<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Contact List App</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="container" ng-controller="AppCtrl">
			<h1>Contact List App</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Number</th>
						<th>&nbsp;</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input placeholder="Name" class="form-control" ng-model="contact.name">
						</td>
						<td>
							<input placeholder="Email" class="form-control" ng-model="contact.email">
						</td>
						<td>
							<input placeholder="(000) 000-000" class="form-control" ng-model="contact.number">
						</td>
						<td>
							<button class="btn btn-info" ng-click="update()">Update</button>
						</td>
						<td>
						<button class="btn btn-primary" ng-click="addContact()">Add Contact</button>
						</td>
					</tr>
					<tr ng-repeat="contact in contactlist">
						<td>{{contact.name}}</td>
						<td>{{contact.email}}</td>
						<td>{{contact.number}}</td>
						<td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
						<td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<script src="controllers/controller.js"></script>
	</body>
</html>
